services:
  app:
   build: .
   container_name: drones_data_collector
   ports:
    - "${PORT}:${SERVER_PORT}"
   env_file:
     - .env
   depends_on:
    - mongo
   volumes:
     - scheduler_state:/data
   networks:
    - backend


  mongo:
    image: mongo:4.4
    container_name: droniq-stg-portal-db
    restart: always
    environment:
     MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
     MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
     MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

volumes:
  mongo_data:
  scheduler_state:

networks:
  backend: